 html {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}


*, *::after, *::before {
    box-sizing: inherit;
    font-size: 20px;
    --main-color: #424242;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;

}


:root {
    --title-color: #01996D;
    --p-color: #484848;
}

.container {
    max-width: 1413px;
    margin: 0 auto;
}

.text-h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 65px;
    font-weight: bold;
    width: 440px;
    color: var(--title-color);
    margin-bottom: 29px;
}

.text-h2 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--title-color);
    line-height: 157%;

}

.text-h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 157%;
}

.text-p {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;

}

.btn {
    padding: 13px 48px;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    color: #fff;
    background-color: var(--title-color);
    text-decoration: none;
    border-radius: 4px;
}

.header {
    padding-top: 16px;
    padding-bottom: 15px;
}
.header__flex {
    padding-left: 20px;
    padding-right: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 59.1%;
}
.logo {
    
}

.nav {
    display: flex;
    list-style-type: none;
    font-weight: 500;
}

.nav li:not(:last-child) {
    margin-right: 72px;
}

.nav a {
    text-decoration: none;
    color: #292929;
}

.sign_in {
    margin-right: 35px;
}
.btn {
}

.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 0;
    background-color: var(--title-color);
    border: none;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.burger__line {
    display: block;
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin-bottom: 4px;
}

.burger__line:last-child {
    margin-bottom: 0;
}



@media screen and (max-width: 1200px) {

    .header-item {
        flex-basis: 65%;
    }
    
}


@media screen and (max-width: 992px) {


    .header-item {
        flex-basis: 60%;
    }

    .nav li:not(:last-child) {
        margin-right: 30px;
    }

    .sign_in {
        margin-right: 10px;
    }
    
}

@media screen and (max-width: 768px) {
    .header-item {
        flex-basis: 49%;
    }
    
    nav {
        display: none;
    }

    .burger {
        display: flex;
    }



}

@media screen and (max-width: 576px) {
    

    .header-item {
        flex-basis: 35%;
    }
}

@media screen and (max-width: 380px) {
    .header__flex {
        flex-wrap: wrap;
        padding: 0;
   }

   .header-item {
        flex-basis: 5%;
}

   .sign_in {
    display: none;
   }

   .Sign_btn .btn {
    font-size: 13px;
   }


}


.way {
    padding-top: 116px;
    min-height: 895px;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat; 

}

.way-item {
    padding-left: 22px;
    padding-right: 22px;
}

.way-item .text-p {
    width: 420px;
    margin-bottom: 74px;

}
.way-item .btn {
    padding: 20px 50px;
}

@media screen and (max-width: 1200px) {

    .way {
        min-height: 622px;
        padding-top: 50px;
        background-size: contain;
    }
    
}

@media screen and (max-width: 992px) {

    .way {
        min-height: 690px;
        padding-top: 1px;
        background-size: cover;
    }
    
}

@media screen and (max-width: 768px) {

    .way {
        padding-top: 30px;

    }

    .text-h1 {
        margin: 0;
        font-size: 40px;
    }

    .way .text-p {
        font-size: 14px;
        width: 270px;
        margin-bottom: 60px;
    }

    .way .btn {
        font-size: 14px;
    }


}

@media screen and (max-width: 576px) {
    
    .way {
        min-height: auto;
        background-size: cover;
        padding-top: 70px;
        padding-bottom: 50px;
        min-height: 400px;
        background-position: center center;

    }

    .text-h1 {

        font-size: 40px;
    }

    .way .text-p {
        font-size: 13px;
        width: 270px;
        margin-bottom: 30px;
    }

    .way .btn {
        font-size: 13px;
        padding: 15px 30px;
    }

}

@media screen and (max-width: 380px) {

    .text-h1 {
        width: 272px;
       
    }
}




.work {
    padding-top: 166px;
    padding-bottom: 47px;
}


.work .container {
    padding-left: 22px;
   
}
.work__title {
    margin-bottom: 46px;
}

.work__title-item {
    display: flex;
    justify-content: space-between;

}

.work .text-h2 {
    margin: 0;
}

.work .text-h3 {
    margin: 0;
 
}
.work .text-p {
    width: 635px;
    margin-right: 13px;

}
.work__flex {
    display: flex;
    
}
.work__flex-item {
    position: relative;
    margin-right: 90px;
}


.work__flex-item .text-p {
    width: 382px;
    margin-top: 11px;
    margin-bottom: 60px;
}


.work-number {
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 150%;
    color: #01996D;
    opacity: 20%;
    
}
.work-title {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    line-height: 150%;
    font-family: Georgia, 'Times New Roman', Times, serif; 

    position: absolute;
    top: 136px;
    left: 88px;
}


.work__flex-item:nth-child(2) {
    margin-top: 289px;
    margin-right: 92px;

}

.work__flex-item:nth-child(2) .work-title {
    width: 313px;
    left: 79px;
}

.work__flex-item:nth-child(2) .text-p {
    margin-bottom: 35px;


}

.work__flex-item:nth-child(3) {
    margin-right: 0;
    margin-top: 54px;
}

.work__flex-item:nth-child(3) .work-number {
    margin-left: 8px;
    margin-bottom: 2px;
}

.work__flex-item:nth-child(3) .work-title {
    left: 131px;
}

.work__flex-item:nth-child(3) .text-p {
    margin-top: 0;
    margin-bottom: 48px;
    width: 402px;
}

.work__flex-item:nth-child(3) .work-img {
    margin-left: 6px;
}




@media screen and (max-width: 1200px) {
    

 
    .work {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .work .container {
        padding-left: 7px;
    }

    .work .text-h2 {
        font-size: 40px;
        width: 663px;
    }

    .work__title {
        margin-bottom: 70px;
    }

   

    .work .text-p {
        margin-top: 10px;
        margin-right: 0;
    }

    .work-number {
        line-height: 0;
    }

    .work__flex-item {
        margin-right: 0;
    }

    .work__flex-item .text-p {
        margin-top: 122px;
    }

    .work-title {
        top: 23px;
        left: 88px;
    }

     .work__flex-item:nth-child(2) {
        margin-top: 0px;
        margin-right: 0;
     }

    
    .work__flex-item:nth-child(2) .text-p {
        margin-bottom: 120px;
    }
    

    .work__flex-item:not(:nth-child(3)) {
        margin-right: 6px;
    }
    
    .work__flex-item:nth-child(3) {
        margin-top: 0;
       
    }

    .work__flex-item:nth-child(3) .text-p {
        margin-top: 122px;
        margin-bottom: 120px;
        width: 400px;
    }

    .work__flex-item:nth-child(3) .work-img {
        margin-left: 0;
    }

}

@media screen and (max-width: 992px) {
    .work__title-item .text-p {
        width: 579px;
    }
    
    .work__flex {
        flex-wrap: wrap;
        justify-content: center; 
        gap: 70px;
        
    }

    .work__flex-item:nth-child(3) .text-p {
        margin-bottom: 60px;
    }


}




@media screen and (max-width: 768px) {

    .work__title-item  {
        display: block;
        margin: 0 auto;
    }

    .work__title-item  .text-p {
        width: 775px;
    }

    .work__flex-item:nth-child(1) {
        margin-right: 0;
        margin-bottom: 120px;
    }

    .work__flex-item:nth-child(3) .work-img {
        margin-left: 0;
    }

    .work__flex-item:nth-child(3) .text-p {
        margin-right: 0;
    }

}

@media screen and (max-width: 576px) {
    .work .text-h2 {
        font-size: 40px;
        width: 500px;
    }
    
    .work__title-item .text-p {
        width: 555px;
    }
}


@media screen and (max-width: 380px) {
    .work .text-h2 {
        font-size: 30px;
        width: 370px;
    }

    .work__title-item .text-p {
        width: 370px;
        font-size: 13px;
        width: 350px;
        
    }

    .work__flex-item .text-p {
        font-size: 13px;
        margin-right: 0;
    }

    .work__flex-item:nth-child(3) .text-p {
        width: 350px;
    }

    
}


.story {
    background-color: #245852;
    padding-top: 229px;
    padding-bottom: 172px;
}

.story .container {
    max-width: 1507px;
}
.story__flex {
    display: flex;
    justify-content: space-between;

}
.story__flex-item {
    position: relative;
}
.story__flex-item .text-h2 {
    color: #fff;
    margin-top: 81px;
    margin-bottom: 33px;
}
.story__flex-item .text-p {
    color: #fff;
    font-size: 25px;
    line-height: 157%;
    font-weight: 600;
    margin-bottom: 79px;
}
.story__flex-item .btn {
    padding: 20px 50px;
}

video {
    border-radius: 16px;
  
}

video::-webkit-media-controls {
    display: none;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    /* коррекция положения элемента */
    transform: translate(-50%, -50%);
    cursor: pointer;
}


@media screen and (max-width: 1200px) {
    
    .story {
        padding-top: 70px;
    }
    
    .story__flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 70px;
        
    }

    .story__flex-item {
        text-align: center;
    }

    .story__flex-item .text-p {
        margin-bottom: 43px;
    }

    .story__flex-item .btn {
        display: block;
        max-width: 243px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px) {
    .story__flex-item .text-h2 {
        margin-top: 0;
}

}

@media screen and (max-width: 576px) {
    video {
        width: 540px;
        height: auto;
    }

    .play-icon {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 380px) {
    video {
        width: 370px;
        height: auto;
    }

    .play-icon {
        width: 30px;
        height: 30px;
    }
}


.product {
    padding-top: 120px;
    padding-bottom: 168px;
}
.product__flex {
    padding-left: 22px;
    padding-right: 22px;
    display: flex;
    justify-content: center;
    /* gap: 28px; */
}


.product__flex-item:nth-child(2) {
    
    /* margin-left: 115px; */

}

.product__img-block {
    height: 573px;
    width: 639px;
    border-radius: 18px;
    background-color: rgb(1, 153, 109, 20%);
    text-align: center;
}
.product-img {
    margin-right: 17px;
}
.product_ava-block {
    padding-top: 23px;
    height: 294px;
    width: 296px;
    border-radius: 4px;
    text-align: center;
}
.custom-title {
    width: 110.5px;
    border-bottom: 0.75px solid #000;
    margin: 0 auto;
    margin-bottom: 14px;
}
/* .custom-ava {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    background-color: rgb(1, 153, 109, 20%);
} */
/* .product-ava {
} */
.custom-name {
}
.text-h5 {
    margin: 0;
    font-size: 15px;
    font-weight: 600;
    line-height: 157%;
}

.text-h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 157%;
    font-weight: 700;
}
.custom-list {
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    list-style-position: inside;
    
    

}
.custom-list li {
    line-height: 157%;
    padding-left: 20px;
    
}
.custom-list li:nth-child(1) {
    margin-bottom: 16px;
}

.custom-list li:nth-child(2) {
    padding: 0;
    margin-right: 14px;
}


.text-h3 {
}
.text-h2 {
}
.product__flex-item .text-p {
    width: 520px;
}
.btn {
}
